@model VetManage.Web.Models.AppointmentViewModel

@{
    DateTime minVal= new DateTime(2000,01,01, 07,00,00);
    DateTime maxVal = new DateTime(2000,01,01, 18,00,00);
}

<div class="modal fade" id="newAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentFormTitle" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <div class="container">
            <div class="div d-flex align-items-center justify-content-center">
                <h5 class="modal-title" id="appointmentFormTitle">New Owner</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
      </div>
      <div class="modal-body bg-dark">
          <div class="d-flex align-items-center justify-content-center mt-md-5 pt-md-5">
              <form class="flex-fill" id="appointmentForm" method="post" style="max-width: 500px;">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="@Model.Id" type="hidden" class="form-control"/>
                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="@Model.PetId"></label>
                        <select asp-for="@Model.PetId" class ="form-control" asp-items="@Model.ComboPets">
                            <option value="">-- Select a Pet --</option>
                        </select>
                    </div>
                    <div class="col">
                        <label asp-for="@Model.VetId"></label>
                        <select asp-for="@Model.VetId" class ="form-control" asp-items="@Model.ComboVets">
                            <option value="">-- Select a Vet --</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Subject">Subject</label>
                    <input asp-for="@Model.Subject" class="form-control"/>
                    <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Title">Title</label>
                    <input asp-for="@Model.Title" class="form-control"/>
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Description">Description</label>
                    <input asp-for="@Model.Description" class="form-control"/>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="@Model.StartTime">Start Time</label>
                        <input asp-for="@Model.StartTime" id="startHidden" type="hidden" class="form-control" />
                        <input id="startTime" class="timepicker form-control" name="timepicker"/>
                        <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="@Model.EndTime">End Time</label>
                        <input asp-for="@Model.EndTime" id="endHidden" type="hidden" class="form-control" />
                        <input id="endTime" class="timepicker form-control" name="timepicker"/>
                        <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button asp-action="Edit" id="submitEditOwner" type="submit" class="btn btn-success">Save</button>
                        <button asp-action="Delete" id="deleteOwner" type="submit" class="btn btn-success">Delete</button>
                        <button asp-action="Create" id="createOwner" type="submit" class="btn btn-success">Create</button>
                        <button id="enableEditOwner" type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


          