@model VetManage.Web.Data.Entities.Vet;

<div id="vetDataContainer">
    <h4>Vet</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped" id="vetDataTable">
            <thead>
                <tr>
                    <th>
                        
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        Speciality
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-none" id="vetData">
                    <td class="align-middle">
                        <div class="frame" id="vetImage" style="background-image: url(@Url.Content(Model.ImageFullPath)"></div>
                    </td>
                    <td class="align-middle" id="vetFirstName">
                        @Html.DisplayFor(modelItem => modelItem.FirstName)
                    </td>
                    <td class="align-middle" id="vetLastName">
                        @Html.DisplayFor(modelItem => modelItem.LastName)
                    </td>
                    <td class="align-middle" id="vetSpeciality">
                        Vet Master
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="vetSelectionMessage">
            <h4>No vet selected</h4>
        </div>
    </div>
</div>