@using Newtonsoft.Json
@model IEnumerable<VetManage.Web.Data.Entities.Owner>

@{
    ViewData["Title"] = "Index";

    JsonSerializerSettings serializerSettings =  new JsonSerializerSettings 
    { 
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
    };
}

<div class="p-3 dark-5">
    <div class="table-responsive">
        <table class="table table-hover table-striped" id="ownersTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th class="d-none d-sm-table-cell">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                </tr>
            </thead>
            <tbody id="ownerTableBody">
        @foreach (var item in Model) {
                <tr data-owner="@JsonConvert.SerializeObject(item, Formatting.None, serializerSettings)">
                    <td class="align-middle">
                        <div class="frame" style="background-image: url(@Url.Content(item.ImageFullPath))"></div>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="d-none d-sm-table-cell align-middle">
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <div class="d-flex align-items-end justify-content-center">
            <button type="button" id="confirmOwnerSelection" class="btn btn-outline-light">Confirm Selection</button>
        </div>
    </div>
</div>