@using Newtonsoft.Json
@model VetManage.Web.Models.PetsViewModel

@{
    ViewData["Title"] = "Index";

    JsonSerializerSettings serializerSettings =  new JsonSerializerSettings 
    { 
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
    };
}
<div class="content-container p-3">
    <div class="p-3 dark-5">
        <div class="d-flex d-row justify-content-between mb-3">
            <h1>Pets</h1>
            <div class="m-1">
                <button type="button" id="btnNewPet" class="btn btn-outline-light">New Pet</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="petsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Pet.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pet.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pet.Breed)
                        </th>
                        <th class="d-none d-sm-table-cell">
                            @Html.DisplayNameFor(model => model.Pet.DateOfBirth)
                        </th>
                        <th class="d-none d-md-table-cell">
                            @Html.DisplayNameFor(model => model.Pet.Gender)
                        </th>
                        <th class="d-none d-lg-table-cell">
                            @Html.DisplayNameFor(model => model.Pet.Owner)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Pets) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Breed)
                        </td>
                        <td class="d-none d-sm-table-cell">
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td class="d-none d-md-table-cell">
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td class="d-none d-lg-table-cell">
                            @Html.DisplayFor(modelItem => item.Owner.FullName)
                        </td>
                        <td>
                            <div class="w-100 d-grid d-md-flex justify-content-md-end">
                                <button type="button" data-action="read" data-pet="@JsonConvert.SerializeObject(item, Formatting.Indented, serializerSettings)" data-id="@item.Id" class="btn bg-dark btn-action me-1">
                                    <i data-feather="book-open" stroke-width="1"></i>
                                </button>
                                <button type="button" data-action="edit" data-pet="@JsonConvert.SerializeObject(item, Formatting.Indented, serializerSettings)" data-id="@item.Id" class="btn bg-dark btn-action me-1">
                                    <i data-feather="edit" stroke-width="1"></i>
                                </button>
                                <button type="button" data-action="delete" data-pet="@JsonConvert.SerializeObject(item, Formatting.Indented, serializerSettings)" data-id="@item.Id" class="btn bg-dark btn-action me-1">
                                   <i data-feather="trash-2" stroke-width="1"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_CrudModal" model="Model.Pet" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    

    <script type="text/javascript">
        $(document).ready(function() {
            let sidebar = $(".sidebar");
            let content = $(".content");
            let menuState = localStorage.getItem("menuState");
            
            setSideBar(menuState, sidebar, content);

            let inputs = document.querySelectorAll(".form-control");

            $("#petsNav").addClass("active");
            $("#petsNav").addClass("bg-dark");

            $(".btn-action").click(function() {
                // remove errors from ui
                $("#petsForm").find('.field-validation-error span').empty();
                let pet = $(this).data("pet");
                let action = $(this).data("action");
                let title = $("#petFormTitle");
                
                //console.log(pet);

                // Hide or Show the buttons depending on the action
                let readonly = organizeButtons(action, "Pet", title);

                // Set the fields to readonly or not depending on the action
                setReadonly(inputs, readonly);

                // Set the value of owner being read, edited or deleted
                populateForm(inputs, pet);

                $("#crudPet").modal("show");
                return false;
            });

            $("#btnNewPet").click(function() {
                // remove errors from ui
                $("#petsForm").find('.field-validation-error span').empty();

                let title = $("#petFormTitle");
                setReadonly(inputs, false);
                newOrganizeButtons("Pet", title);
                clearInputs(inputs);
                $("#crudPet").modal("show");
            });

            $("#enableEditPet").click(function() {
                let title = $("#petFormTitle");
                enableEdit("Pet", title);
                setReadonly(inputs, false);
            });

            // Datatable
            let table = $("#petsTable").DataTable();

            $('#petsTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            let input = document.getElementById('imageFile');

            // Image preview
            $(function () {
                $('#imageFile').on('change', function () {
                    readURL(input);
                });
            });

            //let infoArea = document.getElementById('upload-label');

            //input.addEventListener('change', showFileName);

            //function showFileName( event ) {
            //  let input = event.srcElement;
            //  let fileName = input.files[0].name;
            //  infoArea.textContent = 'File name: ' + fileName;
            //}

            $(function() {
                $(document).on("change","#imageFile", function()
                {
    		        var uploadFile = $(this);
                    var files = !!this.files ? this.files : [];
                    if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
 
                    if (/^image/.test( files[0].type)){ // only image file
                        var reader = new FileReader(); // instance of the FileReader
                        reader.readAsDataURL(files[0]); // read the local file
 
                        reader.onloadend = function(){ // set image data as background of div
                            //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                            //uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url("+this.result+")");
                            $('.image-preview').css("background-image", "url("+this.result+")");
                        }
                    }
      
                });
            });
        });
    </script>
}
