@using Newtonsoft.Json
@model VetManage.Web.Models.Owners.OwnersViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Owners</h1>

<p>
    <button type="button" id="btnNewOwner" class="btn btn-primary">New Owner</button>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Owner.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner.LastName)
                </th>
                <th class="d-none d-lg-table-cell">
                    @Html.DisplayNameFor(model => model.Owner.DateOfBirth)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.Owner.MobileNumber)
                </th>
                <th class="d-none d-md-table-cell">
                    @Html.DisplayNameFor(model => model.Owner.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Owners) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="d-none d-lg-table-cell">
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" data-action="read" data-owner="@JsonConvert.SerializeObject(item)" data-id="@item.Id" class="btn btn-primary btn-action">
                        <i class="fa fa-magnifying-glass"></i>
                    </button>
                    <button type="button" data-action="edit" data-owner="@JsonConvert.SerializeObject(item)" data-id="@item.Id" class="btn btn-warning btn-action">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" data-action="delete" data-owner="@JsonConvert.SerializeObject(item)" data-id="@item.Id" class="btn btn-danger btn-action">
                        <i class="fa fa-remove fa-lg"></i>
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>


<partial name="_CrudModal" model="Model.Owner" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @*<script type="text/javascript">
        $(document).ready(function() {
            let inputs = document.querySelectorAll(".form-control");

            $(".btn-action").click(function() {
                // remove errors from ui
                $("#ownersForm").find('.field-validation-error span').empty();

                let owner = $(this).data("owner");
                let action = $(this).data("action");
                let title = $("#ownerFormTitle");
                
                // Hide or Show the buttons depending on the action
                let readonly = organizeButtons(action, "Owner", title);

                // Set the fields to readonly or not depending on the action
                setReadonly(inputs, readonly);

                // Set the value of owner being read, edited or deleted
                populateForm(inputs, owner);

                $("#crudOwner").modal("show");

                return false;
            });

            $("#userSelect").change(function() {
                $.ajax({
                    url: '@Url.Action("GetUserAsync","Owners")',
                    type: 'POST',
                    dataType: 'json',
                    data: { userId: $("#userSelect").val() },
                    success: function(user) {

                        if(user == null){
                            console.log("No user selected");
                            clearInputs();
                            return;
                        }

                        $("#firstName").val(user.firstName);
                        $("#lastName").val(user.lastName);
                        $("#mobileNumber").val(user.phoneNumber);
                        $("#address").val(user.address);
                    },
                    error: function(ex) {
                        debugger;
                        alert('Failed to retrieve user.\n' + ex)
                    }
                });
            });

            $("#enableEditOwner").click(function() {
                let title = $("#ownerFormTitle");
                enableEdit("Owner", title)
                setReadonly(inputs, false);
            });

            $("#btnNewOwner").click(function() {
                // remove errors from ui
                $("#ownersForm").find('.field-validation-error span').empty();

                console.log($("#ownersForm"));
                let title = $("#ownerFormTitle");
                setReadonly(inputs, false);
                newOrganizeButtons("Owner", title);
                clearInputs(inputs);
                $("#crudOwner").modal("show");
            });
        });
    </script>*@
}